/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --label-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color-main: #F1B2CE;
  --text-color-on-accent: #000028;
  --menu-button-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  --page-bg-color: #000028;
  --cover-image: url('../images/cover-image-dark.png');
  --decorative-display: block;
  --decorated-border-color: var(--accent-color);
}