/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
}

.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
  height: 100dvh;
  min-height: 668px;
  padding: 20px 0;
}

.header__decorative-element {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: calc(var(--page-gutter) + 10px);
}

.header__decorative-element::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
  margin: 0 var(--page-gutter);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  justify-self: end;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  padding: 1px 13px;
}

.label {
  font-weight: var(--fw-bold);
  font-size: var(--font-size-label);
  line-height: 0.83;
  letter-spacing: 0;
  color: var(--label-color);

}
.header__no-focus-label {
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: var(--page-gutter);
}

.header__title {
  color: var(--dark-title-color);
  font-weight: var(--fw-bold);
  margin: var(--page-gutter);
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone::before, 
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--page-gutter);
  right: var(--page-gutter);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--page-gutter);
  left: var(--page-gutter);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}