/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
}

/* HEADER */

.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
  height: 100dvh;
  min-height: 668px;
  padding: var(--page-gutter);
}

.header__decorative-element {
  position: absolute;
  display: var(--decorative-display);
  color: var(--accent-color);
  top: var(--page-gutter);
  right: calc(var(--page-gutter) + 10px);
}

.header__decorative-element::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  justify-self: end;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button {
  color: var(--menu-button-color);
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 1px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid transparent;
  border-color: var(--menu-button-color); 
  border-color: color-mix(in srgb, currentColor, transparent 40%);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}

.label {
  font-size: var(--font-size-label);
  line-height: 0.83;
  color: var(--label-color);
}

.header__no-focus-label {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  font-weight: var(--fw-bold);
}

.header__title span {
  display: block;
}

.title-decor {
  color: var(--text-color-on-accent);
  background-color: var(--accent-color);
}

.decorated-zone::before, 
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--page-gutter);
  right: var(--page-gutter);
  border-top: 1px solid var(--decorated-border-color);
  border-right: 1px solid var(--decorated-border-color);
}

.decorated-zone::after {
  bottom: var(--page-gutter);
  left: var(--page-gutter);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--page-gutter);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
}

.section__cards-title {
  margin-bottom: 20px;
}

.section__cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  margin-bottom: 10px;
}

.card__text-link {
  text-shadow: 2px 2px var(--accent-color);
}

.card__text-link:hover {
  border-bottom: 1px solid currentColor;
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: 1px solid currentColor;
}

.card__title_thin {
  font-weight: normal;
}

/* GALLERY */

.gallery__title {
  margin-bottom: var(--page-gutter);
}

.gallery__list {
  display: grid;
  gap: var(--page-gutter);
}

.gallery__list-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  min-height: 667px;
}

.footer__focus-label {
  font-weight: var(--fw-bold);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIA */

@media (width >= 768px) {
  :root {
    --page-gutter: 20px;
    --font-size-label: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__no-focus-label {
    margin-left: -20px;
  }

  .header__title {
    justify-self: end;
    width: 50%;
  }

  .main {
    padding: 60px var(--page-gutter);
    gap: 80px;
  }

  .reasons,
  .focus-tips {
    display: grid;
    grid-template-columns: 236px auto;
  }

  .factors .section__title {
    width: 236px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__list-item:nth-of-type(1) {
    grid-column: span 2;
  }

  .gallery__list-item:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__list-item:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__list-item:nth-of-type(5) {
    grid-column: span 2;
  }  
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
  }

  .header__theme-menu-item {
    display: flex;
    justify-content: center;
  }

  .reasons,
  .focus-tips {
    grid-template-columns: 315px auto;
  }

  .factors .section__cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .factors .section__title {
    width: 315px;
  }
}

/* LIGHT THEME */

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--text-color-main);
}