/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  --fw-bold: bold;
  --font-size-label: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-main: 18px;
  --label-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color-main: #F1B2CE;
  --text-color-on-accent: #000028;
  --menu-button-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  --page-bg-color: #000028;
  --cover-image: url('../images/cover-image-dark.png');
  --page-gutter: 10px;
  --decorative-display: block;
  --decorated-border-color: var(--accent-color);
}
